<p>welcome to final home page. </p>

<p>If you are new user <%= link_to "sign_up here", new_user_path %></p>


<p>If you are already existing user <%= link_to "sign_in here", new_sessions _path %></p>
