<p class="Home-title">welcome to final home page. </p>
<p class="Home-authenticate">If you are new user <%= link_to "sign_up here", new_user_path %></p>
<p class="Home-authenticate">If you are already existing user <%= link_to "sign_in here", new_sessions_path %></p>
